@model car4you.Models.Denuncia

@{
    ViewData["Title"] = "Criar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar</h1>

<h4>denuncia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="form-group">
                            <label asp-for="titulo" class="control-label">Título</label>
                            <input asp-for="titulo" class="form-control" />
                            <span asp-validation-for="titulo" class="text-danger"></span>
                        </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label">Descrição</label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Denunciar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home"  asp-action="Details" asp-route-id="@ViewBag.idanuncio">Voltar</a>
</div>

